<div class="flex-row header-container">

  <div class="flex-row header-left">
    <a class="default-text" [routerLink]="['/']"><h3>Andy Devstic</h3></a>
  </div>

  <div class="flex-row header-right justify-end">

    <div *ngIf="!isMobile">
      <ul class="flex-row menu-desktop">
        <ng-container *ngIf="user && user.username">
          <a class="flex-row justify-center align-center" style="width: 120px;" [routerLink]="['/posts/new']"><li>Create Post</li></a>
        </ng-container>
        <a class="flex-row justify-center align-center" [routerLink]="['/about']"><li>About</li></a>
        <a class="flex-row justify-center align-center" [routerLink]="['/contact']"><li>Contact</li></a>
        <ng-container *ngIf="!user">
          <a class="flex-row justify-center align-center" [routerLink]="['/login']"><li>Login</li></a>
          <a class="flex-row justify-center align-center pointer" (click)="openRegisterDialog()"><li>Register</li></a>
        </ng-container>
        <ng-container *ngIf="user && user.username">
          <a class="flex-row justify-center align-center pointer" style="width: 200px">
            <li [matMenuTriggerFor]="menu">
              Hello, {{ user.username | stringLimit: 10 }}
            </li>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>View profile</button>
              <button mat-menu-item (click)="logout()">Log out</button>
            </mat-menu>
          </a>
        </ng-container>
      </ul>
    </div>

    <div *ngIf="isMobile" class="flex-row burger-wrapper justify-center align-center" (click)="toggleMenu()">
      <div class="burger-bar-container" [class.change]="isOpenBurger">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
    
  </div>

</div>