<div>
  <div id="mobileNav" class="flex-column full-width">
    <ul class="side-menu">
      <ng-container *ngIf="user && user.username">
          <a class="default-text" [routerLink]="['/posts/create']"><li class="flex-column justify-center">Create Posts</li></a>
      </ng-container>
      <a class="default-text" [routerLink]="['/about']"><li class="flex-column justify-center">About</li></a>
      <a class="default-text" [routerLink]="['/contact']"><li class="flex-column justify-center">Contact</li></a>
      <ng-container *ngIf="!user">
        <a class="default-text" [routerLink]="['/login']"><li class="flex-column justify-center">Login</li></a>
        <a class="default-text pointer" (click)="openRegisterDialog()"><li class="flex-column justify-center">Register</li></a>    
      </ng-container>
      <ng-container *ngIf="user && user.username">
        <a class="default-text pointer">
          <li class="flex-column justify-center" [matMenuTriggerFor]="sideMenu">
            Hello, {{ user.username | stringLimit: 10 }}
          </li>
          <mat-menu #sideMenu="matMenu">
            <button mat-menu-item>View profile</button>
            <button mat-menu-item>Log out</button>
          </mat-menu>
        </a>
      </ng-container>
    </ul>
  </div>

  <div id="main">
    <div class="page-header">
      <app-header (openRegister)="openRegisterDialog()" (isOpenNav)="toggleMobileNav($event)"></app-header>
    </div>
    <div class="flex-row page-body">

      <div id="main-nav" class="flex-column navigator">

        <div class="flex-row justify-end nav-operator" (click)="toggleMainNav()">
          <mat-icon style="font-size: 30px; width: 30px; height: 30px">keyboard_arrow_right</mat-icon>
        </div>

        <div id="nav-content" *ngIf="displayMainNav" class="flex-column nav-content">
          <app-main-nav></app-main-nav>
        </div>

      </div>

      <div id="main-content" class="main-content">
        <router-outlet></router-outlet>
      </div>

    </div>
    <div class="page-footer">
      <app-footer></app-footer>
    </div>
  </div>

</div>